body{
    background-color: #cacaca;
}

button.dummybuttons{
    height: 25px;
    width: 50px;
    background-color: red;
}

button.functionalbuttons{
    height: 25px;
    width: 50px;
    background-color: orange;
}

button.numbers{
    height: 25px;
    width: 50px;
    background-color: lavender;
}

input.numbers{
    height: 25px;
    width: 50px;
    background-color: lavender;
}

input.dummybuttons{
    height: 25px;
    width: 50px;
    background-color: red;
}

input.functionalbuttons{
    height: 25px;
    width: 50px;
    background-color: orange;
}

input.answer{
    width: 350px;
    font-size: 20px;
    font-family: "Comic Sans MS";
}

h1{
    color: aqua;
}